{{ define "main" }}
  <div class="post-wrapper">
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
      <span class="post-meta">@{{ if isset .Site.Params "author" }}{{ .Site.Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }} · {{ .Date.Format "Jan 2, 2006" }} · {{ .ReadingTime }} min read</span>
    </header>

    <article class="post-content">{{ .Content }}</article>

    <footer class="post-footer">
      <p class="post-copyright">
        {{ if .Site.Copyright }}{{ .Site.Copyright | safeHTML }} {{ .Date.Format "2006" }}-{{ dateFormat "2006" now }}. {{ end }}{{ if gt (div (sub now.Unix .Lastmod.Unix) 86400) 100 }}This post was published <strong>{{ div (sub now.Unix .Lastmod.Unix) 86400 }}</strong> days ago, content in the post may be outdated.{{ end }}
      </p>
    </footer>
  </div>
{{ end }}
